<div class="p-fluid grid">
    <form [formGroup]="myForm">

        <div class="field col-12">
            <label for="productName">Name of the product</label>
            <input id="productName" label="productName" type="text" pInputText formControlName="productName" />
        </div>

        <div class="field col-12">
            <label for="productPrice">Price of the product</label>
            <input id="productPrice" label="productPrice" type="text" pInputText formControlName="productPrice" />
            <p-message *ngIf="productPrice.errors?.['pattern'] && (productPrice.dirty || productPrice.touched)"
                severity=" error" text="Insert numbers only"></p-message>
            <p-message *ngIf="productPrice.errors?.['required'] && (productPrice.dirty || productPrice.touched)"
                severity=" error" text="This is required. Enter a price."></p-message>
        </div>

        <div class="field col-12">
            <label for="SKU">SKU</label>
            <input id="SKU" label="SKU" type="text" pInputText formControlName="SKU" />
        </div>

        <p-button type="submit" (onClick)="_productService.createDatabaseProduct(this.myForm)">Submit</p-button>
    </form>
</div>