<ng-container *ngIf="_authenticationService.$isLoggedIn().isLoggedin === false">
    <h2>Add a new customer: </h2>
    <div class="p-fluid grid">
        <form [formGroup]="myForm">

            <div class="field col-12">
                <label for="customerName">Name:</label>
                <input id="customerName" label="customerName" type="text" pInputText formControlName="customerName" />
            </div>

            <p-button type="submit" (onClick)="createCustomer()">Submit</p-button>
        </form>
    </div>
</ng-container>