<h2>Add a discount for customer</h2>
<div class="p-fluid grid">
    <form [formGroup]="myForm">
        <div class="field col-12">
            <p-dropdown formControlName="selectedCustomer" [options]="_customerService.$databaseCustomers()"
                optionLabel="name" placeholder="Select customer"></p-dropdown>
        </div>
        <div class="field col-12">
            <p-dropdown formControlName="selectedDiscount" [options]="_discountService.$discounts()" optionLabel="label"
                placeholder="Select discount">
            </p-dropdown>
        </div>
        <p-button type="submit" (onClick)="attachDiscountToCustomer()">Submit</p-button>
    </form>
</div>